-f /usr/share/pip-wheels
asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Django==3.0.2
django-cors-headers==3.2.1
django-crispy-forms==1.8.1
django-paypal==1.0.0
django-phone-field==1.8.0
gitdb2==2.0.6
GitPython==3.0.5
idna==2.8
Pillow==7.0.0
pytz==2019.3
requests==2.22.0
six==1.14.0
smmap2==2.0.5
sqlparse==0.3.0
urllib3==1.25.7
